body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
}

button {
    background: #222;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
